<div class="account_menu_wrap">
    <div class="container">
        <ul class="account_menu">
            <li><a href="/en/account/overview">Go to Personal Area</a></li>
            <li><a href="/en/banking">Deposit</a></li>
            <li><a href="/en/banking/withdraw">Withdrawal</a></li>
            <li><a id="logout" href="#">Log out</a></li>
        </ul>
        <div class="close_container">
            <span class="close_lang"></span>
        </div>
    </div>
</div>
<div {{ attributes }}>
    <ul class="clearfix nav black-nav">
        <li class="account-name-link js-fade fade-in is-paused"><a href="#" class="account-name bg-icon bg-icon_login bg-icon_dropdown_down"></a></li>
        <li class="nav-item black-login">{{ login }}</li>
        <li class="nav-item black-livechat">{{ livechat }}</li>
        <li class="nav-item black-switch">{{ switch }}</li>
    </ul>
</div>