<div {{ attributes }}>
    <div class="profile-icon-with-arrow notification"><img src="/themes/custom/portal/images/avatar.png" class="profile-icon-img" /> <span class="profile-icon-arrow"></span>
        <div class="status d-sm-inline-flex d-flex align-self-sm-start align-self-center">
            <div class="icon">
                <i class="fas fa-star"></i>
            </div>
            <span>$15 7d</span>
        </div>
    </div>
    <ul class="client-portal-profile-menu">
      <li class="rebates">
        <a href="">
            Get Rebates
          <div><span>last 7 days</span><span>30 lots</span></div>
        </a>
      </li>
      <li class="verification-item notification"><a href=""><i class="fas fa-check-circle"></i>Verification</a></li>
      <li class="my-profile-item"><a href=""><i class="fas fa-user-circle"></i>My Profile</a></li>
      <li class="sign-out-item"><a href="/{{ items.current_lang }}/logout"><i class="fas fa-sign-out-alt"></i>Sign out</a></li>
    </ul>
</div>