<div {{ attributes }} style="position: relative;"><a class="{{ items.current_lang }} lang_icon semibold" href="#">{{ items.current_lang }} <span class="arrow-down"></span></a>
    <ul class="lang_dropdown active" style="display: block;">
        <li><a class="fa lang_icon semibold" data-lang="fa" href="/fa/">فارسی</a></li>
        <li><a class="sv lang_icon semibold" data-lang="sv" href="/sv/">Swedish</a></li>
        <li><a class="en lang_icon semibold" data-lang="en" href="/en/">English</a></li>
        <li><a class="pl lang_icon semibold" data-lang="pl" href="/pl/">Polski</a></li>
        <li><a class="de lang_icon semibold" data-lang="de" href="/de/">Deutsch</a></li>
        <li><a class="cs lang_icon semibold" data-lang="cs" href="/cs/">Čeština</a></li>
        <li><a class="fr lang_icon semibold" data-lang="fr" href="/fr/">Français</a></li>
        <li><a class="ar lang_icon semibold" data-lang="ar" href="/ar/">عربى</a></li>
        <li><a class="it lang_icon semibold" data-lang="it" href="/it/">Italiano</a></li>
        <li><a class="es lang_icon semibold" data-lang="es" href="/es/">Español</a></li>
        <li><a class="ru lang_icon semibold" data-lang="ru" href="/ru/">Русский</a></li>
        <li><a class="zh-hans lang_icon semibold" data-lang="zh-hans" href="http://hycm.com/cn">简体中文</a></li>
    </ul>
</div>
