<div class="logo_wrap">
  <a class="navbar-brand" href="/">
    <img src="/sites/www.hycm.com/files/2018-01/logo_white (1).svg" alt="HYCM">
  </a>
</div>
<div class="btns d-flex">
  <a href="#shortForm" class="btn open_account_btn btn_white smooth_scroll" style="display: inline-block;">{{ 'Register'|t }}</a>
  <a href="/login" class="btn open_account_btn btn_transparent" style="display: inline-block;">{{ 'Login'|t }}</a>
</div>