body{
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

* {
    outline: none!important;
}

#redirect_animation {
    display: none;
    width: 100%;
    height: 100%;
    background: url(/themes/custom/hycm/assets/registration/images/svg/ring-alt.svg) 50% no-repeat white;
    position: fixed;
    z-index: 999999;
}
#shortForm{
    color: #2d2d2d;
}
#shortForm .btn {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    padding: 25px;
    background-image: none;
    white-space: nowrap;
    line-height: 0;
    border-radius: 4px;
    display: block;
    max-height: 36px;
    text-align: center;
    margin: auto;
    border: none;
    color: white;
    background-color: #ee464c;
    width: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#shortForm .btn[type='submit']{
    text-transform: uppercase;
}
#shortForm .btn:hover, .btn:focus {
    color: white;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#shortForm .field-input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset!important;
    -webkit-text-fill-color: #7a879c!important;
}
#shortForm .field-label {
    position: absolute;
    display: block;
    color: #2d2d2d;
    line-height: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    -webkit-transform: translateY(24px);
    -ms-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    z-index: 999;
}
#shortForm .field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding-top: 26px;
    line-height: 16px;
    font-weight: 500;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
    color: #2d2d2d;
    font-size: 16px;
}
.has-label .field-input{
    top:0;
}
#shortForm .field_wrap{
    margin-bottom:16px;
}
.ie .field-input{
    border-bottom: 1px solid;
}
#shortForm .field_wrap:not(.select_container){
    position:relative;
}
#shortForm .field_wrap.w_border:after,
#shortForm .field_wrap.w_border:before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2d2d2d;
    z-index: 999;
}
#shortForm .field_wrap:not(.select_container):after {
    background-color: #53BC88;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#shortForm .field_wrap.is-focused:after {
    -webkit-transform: scaleX(1);
    height: 2px;
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
#shortForm .has-label .field-label {
    -webkit-transform: translateY(0) scale(0.75);
    -ms-transform: translateY(0) scale(0.75);
    transform: translateY(0) scale(0.75);
    text-transform: uppercase;
    margin-top: 15px;
}
#shortForm .is-focused .field-label {
    color: #53BC88;
    text-transform: uppercase;
}
#shortForm .parsley-errors-list{
    position:absolute;
    font-size:11px;
    color:#ee464c;
    font-weight: 300;
}
#shortForm ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#shortForm .error .field-input{
    background: url(/themes/custom/hycm/assets/registration/images/svg/error.svg) right 31px  no-repeat;
}
#shortForm .error.field_wrap:before,
#shortForm .error.field_wrap:after{
    background-color:#ee464c;
}
#shortForm .error .field-label{
    color:#ee464c;
}
#shortForm .error .field-label:after{
    color:#ee464c;
}
#shortForm .btn.red{
    color: white;
    background-color: #ee464c;
}
#shortForm .select_wrap_item.error .btn.select_btn{
    border-color:#ee464c;
}
#shortForm .select_wrap_item.error .btn.select_btn:after{
    background: url(/themes/custom/hycm/assets/registration/images/svg/select_chevron_red.svg) no-repeat;
}
#shortForm .btn.select_btn:hover, .btn.select_btn:focus, .open .btn.select_btn{
    background-color:#f4f9fc;
    border-color:#53BC88;
    color: #2D2D2D!important;
}
#shortForm .btn.select_btn{
    background: url(/themes/custom/hycm/assets/registration/images/svg/select_chevron.svg) no-repeat;
    background-size: 10px;
    background-position-y: calc(50% + 1px);
    background-position-x: calc(100% - 20px);
}
#shortForm .btn.select_btn.prefix{
    background-position-y: calc(50% + 1px);
    background-position-x: calc(100% - 10px);
    text-align: left;
    padding-left: 10px;
    font-size: 13px!important;
}
#shortForm .col-xs-4 .btn.select_btn{
    background-position-x: calc(100% - 10px);
}
#shortForm .btn.select_btn{
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    min-width:inherit;
    height:40px;
    position: relative;
    text-align: center;
    z-index:100;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-weight: 300;
    font-size: 13px;
    padding: 9px 0;
    border: 1px solid #2d2d2d;
    background-color: #f5f7f8;
    color: #2d2d2d;
}
#shortForm ul.options_list{
    display: none;
    list-style-type: none;
    margin: 5px 0;
    top: inherit;
    padding: 0;
    position: absolute;
    z-index: 1000;
    float: left;
    width:100%;
    overflow: hidden;
    max-height: 310px;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #53BC88;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#shortForm ul.options_list li{
    padding: 5px 18px;
    cursor: pointer;
    margin: 0;
    line-height: inherit;
    min-height: inherit;
}
.options_list li span{
    margin-right: 5px;
    display:inline-block;
}
#shortForm .options_list span.cant_find{
    padding: 16px;
    display:inline-block;
}
#shortForm ul.options_list li:hover{
    background-color: #f5f5f5;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 96%;
    top: 2%;
}
.mCustomScrollbar {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}
.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255,255,255,.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255,255,255,.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools {
    background-color:#ffffff;
    border-radius:4px;
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    -webkit-transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255,255,255,.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #7a899f;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    background-color: #f4f9fc;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

#shortForm .btn_wrap .risk {
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    left: -50%;
    right: -50%;
}

#shortForm .btn_wrap span {
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 15px;
    left: -50%;
    right: -50%;
}
#shortForm .btn span.process{
    display: none;
    width: 40px;
    height: 30px;
    background-image: url(/themes/custom/hycm/assets/registration/images/svg/ring-alt-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: -15px auto;
    z-index: 999;
    /*position: relative;*/
}
#shortForm .select_wrap {
    padding-top: 25px;
}
#shortForm .btn_wrap {
    margin-top: 30px;
    position: relative;
}
#shortForm .phone_wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
#shortForm .phone_wrap > div:first-child,
#shortForm .phone_wrap > div:first-child ul.parsley-errors-list{
    width: 70px;
}
#shortForm .phone_wrap > div:last-child{
    width:calc(100% - 100px);
}

li[class*='flag-'] span{
    background-image: url(/themes/custom/hycm/assets/registration/images/flags.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
}
.flag-cx span, .flag-cc span{
    background-image: url(/themes/custom/hycm/assets/registration/images/christmas_island.png);
    background-position: center;
}
.flag-scotland span{
    background-position: -176px -121px;
}
.flag-la span{
    background-position: -160px -77px;
}
.flag-vi span{
    background-position: -112px -154px;
}
.flag-ck span{
    background-position: -128px -22px;
}
.flag-mu span{
    background-position: -48px -99px;
}
.flag-mm span{
    background-position: -192px -88px;
}
.flag-im span{
    background-position: -48px -66px;
}
.flag-ca span{
    background-position: -16px -22px;
}
.flag-nf span{
    background-position: -192px -99px;
}
.flag-cr span{
    background-position: -208px -22px;
}
.flag-xk span{
    background-position: -208px -154px;
}
.flag-om span{
    background-position: -64px -110px;
}
.flag-hm span{
    background-position: -160px -55px;
}
.flag-zm span{
    background-position: -16px -165px;
}
.flag-mh span{
    background-position: -144px -88px;
}
.flag-ye span{
    background-position: -224px -154px;
}
.flag-is span{
    background-position: -128px -66px;
}
.flag-th span{
    background-position: -16px -143px;
}
.flag-sn span{
    background-position: -64px -132px;
}
.flag-ht span{
    background-position: -208px -55px;
}
.flag-sb span{
    background-position: -144px -121px;
}
.flag-gy span{
    background-position: -128px -55px;
}
.flag-gb span{
    background-position: -112px -44px;
}
.flag-br span{
    background-position: -176px -11px;
}
.flag-ve span{
    background-position: -80px -154px;
}
.flag-ph span{
    background-position: -144px -110px;
}
.flag-io span{
    background-position: -80px -66px;
}
.flag-er span{
    background-position: -208px -33px;
}
.flag-au span{
    background-position: -192px 0;
}
.flag-tj span{
    background-position: -48px -143px;
}
.flag-vc span{
    background-position: -64px -154px;
}
.flag-vn span{
    background-position: -128px -154px;
}
.flag-fk span{
    background-position: -32px -44px;
}
.flag-mv span{
    background-position: -64px -99px;
}
.flag-bj span{
    background-position: -112px -11px;
}
.flag-bn span{
    background-position: -144px -11px;
}
.flag-jm span{
    background-position: -192px -66px;
}
.flag-na span{
    background-position: -144px -99px;
}
.flag-cf span{
    background-position: -64px -22px;
}
.flag-cl span{
    background-position: -144px -22px;
}
.flag-hu span{
    background-position: -224px -55px;
}
.flag-ke span{
    background-position: -240px -66px;
}
.flag-kr span{
    background-position: -80px -77px;
}
.flag-bg span{
    background-position: -64px -11px;
}
.flag-gw span{
    background-position: -112px -55px;
}
.flag-ru span{
    background-position: -96px -121px;
}
.flag-ma span{
    background-position: -64px -88px;
}
.flag-hn span{
    background-position: -176px -55px;
}
.flag-ni span{
    background-position: -224px -99px;
}
.flag-ws span{
    background-position: -192px -154px;
}
.flag-at span{
    background-position: -176px 0;
}
.flag-pf span{
    background-position: -112px -110px;
}
.flag-cw span{
    background-position: -256px -22px;
}
.flag-nl span{
    background-position: -240px -99px;
}
.flag-kp span{
    background-position: -64px -77px;
}
.flag-sx span{
    background-position: -176px -132px;
}
.flag-mg span{
    background-position: -128px -88px;
}
.flag-sl span{
    background-position: -32px -132px;
}
.flag-lb span{
    background-position: -176px -77px;
}
.flag-mk span{
    background-position: -160px -88px;
}
.flag-ga span{
    background-position: -96px -44px;
}
.flag-as span{
    background-position: -160px 0;
}
.flag-mc span{
    background-position: -80px -88px;
}
.flag-cn span{
    background-position: -176px -22px;
}
.flag-ua span{
    background-position: -224px -143px;
}
.flag-lt span{
    background-position: 0 -88px;
}
.flag-in span{
    background-position: -64px -66px;
}
.flag-tl span{
    background-position: -80px -143px;
}
.flag-eh span{
    background-position: -176px -33px;
}
.flag-mz span{
    background-position: -128px -99px;
}
.flag-af span{
    background-position: -32px 0;
}
.flag-gm span{
    background-position: -256px -44px;
}
.flag-lv span{
    background-position: -32px -88px;
}
.flag-eu span{
    background-position: -256px -33px;
}
.flag-eg span{
    background-position: -160px -33px;
}
.flag-fi span{
    background-position: 0 -44px;
}
.flag-ec span{
    background-position: -128px -33px;
}
.flag-bo span{
    background-position: -160px -11px;
}
.flag-pl span{
    background-position: -176px -110px;
}
.flag-ly span{
    background-position: -48px -88px;
}
.flag-sa span{
    background-position: -128px -121px;
}
.flag-si span{
    background-position: -256px -121px;
}
.flag-se span{
    background-position: -208px -121px;
}
.flag-bw span{
    background-position: -240px -11px;
}
.flag-sy span{
    background-position: -192px -132px;
}
.flag-za span{
    background-position: -256px -154px;
}
.flag-ax span{
    background-position: -224px 0;
}
.flag-pa span{
    background-position: -80px -110px;
}
.flag-gn span{
    background-position: 0 -55px;
}
.flag-lu span{
    background-position: -16px -88px;
}
.flag-sc span{
    background-position: -160px -121px;
}
.flag-sk span{
    background-position: -16px -132px;
}
.flag-sd span{
    background-position: -192px -121px;
}
.flag-ag span{
    background-position: -48px 0;
}
.flag-bf span{
    background-position: -48px -11px;
}
.flag-ne span{
    background-position: -176px -99px;
}
.flag-bv span{
    background-position: -224px -11px;
}
.flag-bs span{
    background-position: -192px -11px;
}
.flag-kh span{
    background-position: 0 -77px;
}
.flag-il span{
    background-position: -16px -66px;
}
.flag-pk span{
    background-position: -160px -110px;
}
.flag-hr span{
    background-position: -192px -55px;
}
.flag-bt span{
    background-position: -208px -11px;
}
.flag-ar span{
    background-position: -144px 0;
}
.flag-sj span{
    background-position: 0 -132px;
}
.flag-fj span{
    background-position: -16px -44px;
}
.flag-an span{
    background-position: -112px 0;
}
.flag-it span{
    background-position: -144px -66px;
}
.flag-mr span{
    background-position: 0 -99px;
}
.flag-et span{
    background-position: -240px -33px;
}
.flag-cv span{
    background-position: -240px -22px;
}
.flag-nu span{
    background-position: -32px -110px;
}
.flag-mp span{
    background-position: -240px -88px;
}
.flag-id span{
    background-position: -256px -55px;
}
.flag-mn span{
    background-position: -208px -88px;
}
.flag-de span{
    background-position: -32px -33px;
}
.flag-ls span{
    background-position: -256px -77px;
}
.flag-ee span{
    background-position: -144px -33px;
}
.flag-uy span{
    background-position: -16px -154px;
}
.flag-bb span{
    background-position: 0 -11px;
}
.flag-gl span{
    background-position: -240px -44px;
}
.flag-ir span{
    background-position: -112px -66px;
}
.flag-kg span{
    background-position: -256px -66px;
}
.flag-ba span{
    background-position: -256px 0;
}
.flag-ao span{
    background-position: -128px 0;
}
.flag-aw span{
    background-position: -208px 0;
}
.flag-va span{
    background-position: -48px -154px;
}
.flag-np span{
    background-position: 0 -110px;
}
.flag-tt span{
    background-position: -160px -143px;
}
.flag-no span{
    background-position: -256px -99px;
}
.flag-gu span{
    background-position: -96px -55px;
}
.flag-ng span{
    background-position: -208px -99px;
}
.flag-ki span{
    background-position: -16px -77px;
}
.flag-tc span{
    background-position: -224px -132px;
}
.flag-catalonia span{
    background-position: -32px -22px;
}
.flag-pt span{
    background-position: -256px -110px;
}
.flag-co span{
    background-position: -192px -22px;
}
.flag-es span{
    background-position: -224px -33px;
}
.flag-gs span{
    background-position: -64px -55px;
}
.flag-cy span{
    background-position: 0 -33px;
}
.flag-fm span{
    background-position: -48px -44px;
}
.flag-gp span{
    background-position: -16px -55px;
}
.flag-pg span{
    background-position: -128px -110px;
}
.flag-qa span{
    background-position: -32px -121px;
}
.flag-dz span{
    background-position: -112px -33px;
}
.flag-hk span{
    background-position: -144px -55px;
}
.flag-wales span{
    background-position: -160px -154px;
}
.flag-zw span{
    background-position: -32px -165px;
}
.flag-mt span{
    background-position: -32px -99px;
}
.flag-dj span{
    background-position: -48px -33px;
}
.flag-jo span{
    background-position: -208px -66px;
}
.flag-tg span{
    background-position: 0 -143px;
}
.flag-rw span{
    background-position: -112px -121px;
}
.flag-st span{
    background-position: -144px -132px;
}
.flag-je span{
    background-position: -176px -66px;
}
.flag-sh span{
    background-position: -240px -121px;
}
.flag-somaliland span{
    background-position: -96px -132px;
}
.flag-td span{
    background-position: -240px -132px;
}
.flag-kw span{
    background-position: -112px -77px;
}
.flag-ky span{
    background-position: -128px -77px;
}
.flag-gg span{
    background-position: -192px -44px;
}
.flag-mq span{
    background-position: -256px -88px;
}
.flag-fo span{
    background-position: -64px -44px;
}
.flag-km span{
    background-position: -32px -77px;
}
.flag-vg span{
    background-position: -96px -154px;
}
.flag-tr span{
    background-position: -144px -143px;
}
.flag-yt span{
    background-position: -240px -154px;
}
.flag-me span{
    background-position: -112px -88px;
}
.flag-my span{
    background-position: -112px -99px;
}
.flag-dm span{
    background-position: -80px -33px;
}
.flag-fr span{
    background-position: -80px -44px;
}
.flag-uz span{
    background-position: -32px -154px;
}
.flag-ic span{
    background-position: -240px -55px;
}
.flag-al span{
    background-position: -80px 0;
}
.flag-li span{
    background-position: -208px -77px;
}
.flag-to span{
    background-position: -128px -143px;
}
.flag-am span{
    background-position: -96px 0;
}
.flag-sr span{
    background-position: -112px -132px;
}
.flag-vu span{
    background-position: -144px -154px;
}
.flag-ai span{
    background-position: -64px 0;
}
.flag-bh span{
    background-position: -80px -11px;
}
.flag-ie span{
    background-position: 0 -66px;
}
.flag-ad span{
    background-position: 0 0;
}
.flag-sv span{
    background-position: -160px -132px;
}
.flag-so span{
    background-position: -80px -132px;
}
.flag-pe span{
    background-position: -96px -110px;
}
.flag-ci span{
    background-position: -112px -22px;
}
.flag-ge span{
    background-position: -144px -44px;
}
.flag-pr span{
    background-position: -224px -110px;
}
.flag-nz span{
    background-position: -48px -110px;
}
.flag-py span{
    background-position: -16px -121px;
}
.flag-mx span{
    background-position: -96px -99px;
}
.flag-ss span{
    background-position: -128px -132px;
}
.flag-lc span{
    background-position: -192px -77px;
}
.flag-cu span{
    background-position: -224px -22px;
}
.flag-zanzibar span{
    background-position: 0 -165px;
}
.flag-bz span{
    background-position: 0 -22px;
}
.flag-ms span{
    background-position: -16px -99px;
}
.flag-re span{
    background-position: -48px -121px;
}
.flag-us span{
    background-position: 0 -154px;
}
.flag-sz span{
    background-position: -208px -132px;
}
.flag-kn span{
    background-position: -48px -77px;
}
.flag-pw span{
    background-position: 0 -121px;
}
.flag-bd span{
    background-position: -16px -11px;
}
.flag-tm span{
    background-position: -96px -143px;
}
.flag-nr span{
    background-position: -16px -110px;
}
.flag-wf span{
    background-position: -176px -154px;
}
.flag-nc span{
    background-position: -160px -99px;
}
.flag-gh span{
    background-position: -208px -44px;
}
.flag-gt span{
    background-position: -80px -55px;
}
.flag-tv span{
    background-position: -176px -143px;
}
.flag-rs span{
    background-position: -80px -121px;
}
.flag-cz span{
    background-position: -16px -33px;
}
.flag-az span{
    background-position: -240px 0;
}
.flag-ps span{
    background-position: -240px -110px;
}
.flag-bm span{
    background-position: -128px -11px;
}
.flag-um span{
    background-position: -256px -143px;
}
.flag-gf span{
    background-position: -160px -44px;
}
.flag-tz span{
    background-position: -208px -143px;
}
.flag-tibet span{
    background-position: -32px -143px;
}
.flag-pn span{
    background-position: -208px -110px;
}
.flag-lr span{
    background-position: -240px -77px;
}
.flag-tw span{
    background-position: -192px -143px;
}
.flag-kz span{
    background-position: -144px -77px;
}
.flag-mw span{
    background-position: -80px -99px;
}
.flag-bi span{
    background-position: -96px -11px;
}
.flag-cg span{
    background-position: -80px -22px;
}
.flag-pm span{
    background-position: -192px -110px;
}
.flag-sm span{
    background-position: -48px -132px;
}
.flag-md span{
    background-position: -96px -88px;
}
.flag-ch span{
    background-position: -96px -22px;
}
.flag-gq span{
    background-position: -32px -55px;
}
.flag-tf span{
    background-position: -256px -132px;
}
.flag-kurdistan span{
    background-position: -96px -77px;
}
.flag-gr span{
    background-position: -48px -55px;
}
.flag-gd span{
    background-position: -128px -44px;
}
.flag-ug span{
    background-position: -240px -143px;
}
.flag-iq span{
    background-position: -96px -66px;
}
.flag-by span{
    background-position: -256px -11px;
}
.flag-gi span{
    background-position: -224px -44px;
}
.flag-tk span{
    background-position: -64px -143px;
}
.flag-cm span{
    background-position: -160px -22px;
}
.flag-mo span{
    background-position: -224px -88px;
}
.flag-sg span{
    background-position: -224px -121px;
}
.flag-tn span{
    background-position: -112px -143px;
}
.flag-ae span{
    background-position: -16px 0;
}
.flag-ml span{
    background-position: -176px -88px;
}
.flag-dk span{
    background-position: -64px -33px;
}
.flag-be span{
    background-position: -32px -11px;
}
.flag-cd span{
    background-position: -48px -22px;
}
.flag-england span{
    background-position: -192px -33px;
}
.flag-ro span{
    background-position: -64px -121px;
}
.flag-lk span{
    background-position: -224px -77px;
}
.flag-jp span{
    background-position: -224px -66px;
}
.flag-do span{
    background-position: -96px -33px;
}
.navbar-is-fixed-top #redirect_animation{
    margin-top: 45px;
}
#shortForm .transparent_select{
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 36px;
}
#shortForm .field_wrap.checkbox{
    margin-top: 35px;
    margin-bottom: 5px;
}
.checkbox label {
    margin-top: 3px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    padding-left: 25px;
    display: block;
    cursor: pointer;
    color:#2d2d2d;
}
.checkbox label a{
    color: #53bc88;
}
.rtl #shortForm .checkbox label {
    padding-right: 25px;
    padding-left: 0;
}
.checkbox.error label {
    color: #ee464c;
}

.checkbox.error label:before {
    border-color: #ee464c;
}

.checkbox label:after,
.checkbox label:before {
    content: '';
    display: block;
    left: 0;
    top: 1px;
    width: 15px;
    position: absolute;
    height: 15px;
    border: 1px solid #2d2d2d;
    border-radius: 3px;
    background-size: 75%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.rtl #shortForm .checkbox label:after,
.rtl #shortForm .checkbox label:before{
    right: 0;
    left: unset;
}
.checkbox label:after {
    opacity: 0;
    border-color: #53BC88;
  /*  background: url(images/white_checkbox.svg) center no-repeat; */
  background: url(../../../../../../../themes/custom/hycm/assets/registration/images/svg/white_checkbox.svg) center no-repeat;
    background-color: #53BC88;
    background-size: 95%;
}

.checkbox.active label:after {
    opacity: 1;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.openacclmwrap article{
    width:100%!important;
}

input::-webkit-input-placeholder {
    color: #2d2d2d;
}

input:-ms-input-placeholder {
    color: #2d2d2d;
}

input::-ms-input-placeholder {
    color: #2d2d2d;
}

input::placeholder {
    color: #2d2d2d;
}
/** RTL support **/
body.i18n-ar #shortForm .field-label{
    -webkit-transform-origin: right 50%;
    transform-origin: right 50%;
}
body.i18n-ar #shortForm ul.options_list li{
    text-align:right;
}
body.i18n-ar #shortForm .options_list li span {
    margin-left: 5px;
}
body.i18n-ar #shortForm  .error .field-input {
    background-position-x: left;
}
@media (max-width: 992px) {
    #shortForm .btn.select_btn,
    #shortForm .btn.select_btn:hover,
    #shortForm .btn.select_btn:focus,
    #shortForm .open .btn.select_btn{
        /*border:none;*/
        background-color: #edeff2;
    }
    #shortForm .select_wrap_item {
        position: relative;
    }
}
