#player-wrap {
    width: 330px;
    height: 250px;

}

#player-section {
    position: absolute;
    width: 100%;
    bottom: 10px;
    top: 30px;
}

#video-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
}

div.title {
    position: absolute;
    height: 45px;
    bottom: 0;
    left: 0;
    right: -0;
}