{#
/**
 * @file
 * Default theme implementation to display new dubai landing layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout wrapper.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--new-dubai-landing',
  ]
%}

<div class="wrapper">
<div class="page">
<header class="page__header">
    <div class="grid-cont">
        <div class="grid-row grid-row_aic grid-row_jcsb">
            <div class="grid-col grid-col_auto  grid-col_xs-24">
                <a href="https://www.hycm.com/" target="_blank" class="logo">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/logo/main.svg" width="90" height="30" alt="">
                </a>
            </div>


            <div class="grid-col grid-col_auto">
                <nav class="main-nav">
                    <a href="#about" data-scrollto class="main-nav__link">About</a>
                    <a href="#schedule" data-scrollto class="main-nav__link">Schedule</a>
                    <a href="#speaker" data-scrollto class="main-nav__link">Speaker</a>
                    <a href="#advantages" data-scrollto class="main-nav__link">Advantages</a>
                    <a href="#faq" data-scrollto class="main-nav__link">FAQ</a>
                </nav>
            </div>


            <div class="grid-col grid-col_auto removed_md">
                <a href="#registration" data-scrollto class="cta button">Register</a>
            </div>
        </div>
    </div>


    <button type="button" id="burger" class="burger"><i></i></button>


    <nav id="mobile-nav" class="mobile-nav">
        <a href="#about" data-scrollto class="mobile-nav__link">About</a>
        <a href="#schedule" data-scrollto class="mobile-nav__link">Schedule</a>
        <a href="#speaker" data-scrollto class="mobile-nav__link">Speaker</a>
        <a href="#advantages" data-scrollto class="mobile-nav__link">Advantages</a>
        <a href="#faq" data-scrollto class="mobile-nav__link">FAQ</a>
        <a href="#registration" data-scrollto class="mobile-nav__button button">Register</a>
    </nav>
</header>


<main class="page__content">
<section class="hero">
    <div class="hero__cont">
        <div class="hero__suptitle">Seminar & workshop</div>
        <h1 class="hero__title"><strong>Forex Trading:</strong><br> Ultimate Beginner's Guide</h1>
        <a href="#registration" data-scrollto class="hero__button button">Register Now</a>
        <div class="hero__limit">Limited seats. Register soon!</div>
    </div>
    <div class="hero__foot">
        <div class="grid-cont">
            <div id="hero__countdown" class="hero__countdown"></div>
            <div class="grid-row grid-row_aic grid-row_jcc  grid-row_ngt">
                <div class="grid-col grid-col_auto">
                    <p class="hero__dateplace"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#ee464c" d="M400 64h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V160h352v298c0 3.3-2.7 6-6 6z"></path></svg>February 18 & 19, 2019</p>
                </div>
                <div class="grid-col grid-col_auto">
                    <p class="hero__dateplace"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="#ee464c" d="M248 8C111.04 8 0 119.03 0 256s111.04 248 248 248 248-111.03 248-248S384.96 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56c10.92 0 21.55 1.12 32 2.81v21.7c0 8.56-6.94 15.5-15.5 15.5h-24.21c-5.18 0-10.02 2.59-12.89 6.9l-8.08 12.11c-2.14 3.21-5.4 5.5-9.14 6.44l-14.45 3.61a15.492 15.492 0 0 0-11.74 15.04v4.4c0 8.56 6.94 15.5 15.5 15.5h90.09c4.11 0 8.05 1.63 10.96 4.54l6.92 6.92c2.91 2.91 6.85 4.54 10.96 4.54h10.09c8.56 0 15.5 6.94 15.5 15.5 0 6.67-4.27 12.59-10.6 14.7l-47.31 15.77c-3.9 1.3-8.15 1-11.83-.84l-14.72-7.36a54.682 54.682 0 0 0-24.43-5.77h-.89c-11.82 0-23.32 3.83-32.78 10.93l-27.58 20.69A54.545 54.545 0 0 0 152 283.31v14.06c0 14.49 5.76 28.38 16 38.63a54.641 54.641 0 0 0 38.63 16h25.88c8.56 0 15.5 6.94 15.5 15.5v29.88c0 12.25 2.85 24.33 8.33 35.29 4.7 9.4 14.31 15.34 24.82 15.34 9.28 0 17.94-4.64 23.09-12.36l13.03-19.55a159.608 159.608 0 0 1 25-29.16c2.47-2.26 4.14-5.26 4.76-8.56l4.3-22.83c.44-2.33 1.41-4.53 2.83-6.43l18.74-24.98c2.01-2.68 3.1-5.95 3.1-9.3V303.5c0-8.56-6.94-15.5-15.5-15.5h-8.21c-5.18 0-10.02-2.59-12.89-6.9l-13.24-19.86c-5.67-8.5-1.7-20.07 7.99-23.3l2.65-.88c4.54-1.51 9.52-.85 13.5 1.81l18.21 12.14a15.532 15.532 0 0 0 15.53.97l15.39-7.7c5.25-2.62 8.57-7.99 8.57-13.86v-6.93c0-8.56 6.94-15.5 15.5-15.5h18.44c3.82 15.41 6.07 31.43 6.07 48C448 366.28 358.28 456 248 456z"></path></svg>Dukes hotel, Palm Jumeirah, Dubai</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="grid-cont">
<section id="about" class="about">
    <div class="h5">From zero to hero</div>
    <h2 class="about__title">Let us walk you through Forex trading step-by-step</h2>
    <p>“Forex Trading: Ultimate Beginner’s Guide” is an intensive 2-day trading course which does exactly what it says on the tin. You don’t need to have any previous knowledge to attend because, together, we will discover the ins and outs of Forex Trading with industry expert, Giles Coghlan, supervising to ensure that no queries are left unresolved. From basic terminology and currency market analysis to trading psychology, professional risk management, and, hands-on practice, we’ll cover it all!</p>
</section>


<section id="schedule" class="schedule">
<div class="h5">2-Day Intensive Trading Course</div>
<h2>Event schedule</h2>
<div class="tabs">
    <a href="#schedule-tab-1" class="tabs__item tabs__item_active">Day 1</a>
    <a href="#schedule-tab-2" class="tabs__item">Day 2</a>
</div>

<div id="schedule-tab-1" class="tabs-target tabs-target_active">
    <div class="schedule__head">
        <h3 class="schedule__title">Day 1 / Seminar, Theory</h3>
        <div class="schedule__subtitle">18:00 - 22:30 <i></i> Free of charge</div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/calendar.svg" width="18" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Monday, February 18</div>
                <div class="schedule__time">18:00</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Registration</h4>
                    <p>Pick up your name badge and goodie&nbsp;bag</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/speech.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Monday, February 18</div>
                <div class="schedule__time">18:45</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Welcome speech</h4>
                    <p>Introduction from HYCM representative</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/desk.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Monday, February 18</div>
                <div class="schedule__time">19:00</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Fundamental and<br> technical analysis</h4>
                    <ul class="p">
                        <li>Central Bank analysis</li>
                        <li>Overview of the world’s largest central banks</li>
                        <li>Reasons why fundamental analysis is so important</li>
                        <li>Key technical concepts and how to use them: Japanese candlestick patterns, Support and Resistance, Fibonacci levels, Pivot points, Moving averages SMA and EMA</li>
                        <li>How to combine technical and fundamental analysis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/cutlery.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Monday, February 18</div>
                <div class="schedule__time">20:30</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Break</h4>
                    <p>Enjoy snacks and drinks while networking with like-minded traders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/people.svg" width="25" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Monday, February 18</div>
                <div class="schedule__time">21:00</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Sentiment analysis, risk management and trading psychology</h4>
                    <ul class="p">
                        <li>Importance of sentiment and ways to identify it</li>
                        <li>What is leverage and how to use it professionally</li>
                        <li>Dealing with negative thoughts</li>
                        <li>Developing the right mindset</li>
                        <li>The psychology of winning and losing</li>
                        <li>Factors influencing the decision making process</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/qa.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Monday, February 18</div>
                <div class="schedule__time">22:15</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Q&A session</h4>
                    <p>Leave no questions behind</p>
                    <a href="#registration" data-scrollto class="schedule__button button">Register Now</a>
                    <div class="schedule__limit">Limited seats. Register soon!</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="schedule-tab-2" class="tabs-target">
    <div class="schedule__head">
        <h3 class="schedule__title">Day 2 / Workshop, Practice</h3>
        <div class="schedule__subtitle">18:00 - 22:30 <i></i> Account activation required</div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/calendar.svg" width="18" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Tuesday, February 19</div>
                <div class="schedule__time">18:00</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Registration</h4>
                    <p>Pick up your name badge and goodie bag</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/speech.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Tuesday, February 19</div>
                <div class="schedule__time">18:45</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Welcome speech</h4>
                    <p>Introduction from HYCM representative</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/desk.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Tuesday, February 19</div>
                <div class="schedule__time">19:00</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Practical approach to sentiment, fundamentals and timeframes</h4>
                    <p>We will put into practice all acquired theory from the first day and will go through a step-by-step decision making process before placing a trade. You will learn how to implement analysis into your trading routine, pair up currencies and set timeframes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/cutlery.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Tuesday, February 19</div>
                <div class="schedule__time">20:00</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Break</h4>
                    <p>Enjoy snacks and drinks while networking with like-minded traders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/people.svg" width="25" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Tuesday, February 19</div>
                <div class="schedule__time">20:30</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Practical approach to technicals, risk and trading psychology</h4>
                    <p>We will analyse chosen pairs technically, look for key levels to enter and place orders as well as ensure that our risk is managed properly. You will learn how to apply psychology in practice and avoid common errors.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule__item">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_xs-24">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/schedule/qa.svg" width="20" height="20" alt="" class="schedule__icon">
                <div class="schedule__date">Tuesday, February 19</div>
                <div class="schedule__time">22:15</div>
            </div>
            <div class="grid-col grid-col_2 grid-col_md-3 grid-col_xs-24">

            </div>
            <div class="grid-col grid-col_10 grid-col_md-13 grid-col_xs-24">
                <div class="schedule__details">
                    <h4 class="h2">Q&A session</h4>
                    <p>Get your trading queries resolved</p>
                    <a href="#registration" data-scrollto class="schedule__button button">Register Now</a>
                    <div class="schedule__limit">Limited seats. Register soon!</div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<section id="speaker" class="speaker">
    <div class="h5">Your invitation</div>
    <h2>Meet the speaker</h2>

    <div class="grid-row grid-row_aic">
        <div class="grid-col grid-col_10 grid-col_xs-24">
            <a href="https://www.youtube.com/watch?v=yzs57YCgETQ" data-fancybox class="speaker__video">
                <div class="speaker__cover">
                    <span class="speaker__play"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg></span>
                </div>
            </a>
        </div>
        <div class="grid-col grid-col_14 grid-col_xs-24">
            <div class="speaker__cont">
                <div class="grid-row grid-row_aic grid-row_ngt">
                    <div class="grid-col_auto">
                        <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/speaker/photo.png" width="80" height="80" alt="Giles Coghlan" class="speaker__photo">
                    </div>
                    <div class="grid-col_auto">
                        <h3 class="speaker__name h4">Giles Coghlan</h3>
                        <div class="speaker__position">Currency Analyst</div>
                    </div>
                </div>
                <div class="speaker__info">
                    <p>Giles Coghlan is a professional trader and a currency analyst with 10+ years of experience in technical and fundamental analysis of currency markets who trades for the AsAc fund and contributes to ForexLive.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="advantages" class="advantages">
    <div class="h5">6 reasons</div>
    <h2>Why should you join?</h2>
    <div class="advantages__grid">
        <div class="grid-row">
            <div class="grid-col grid-col_8 grid-col_md-12 grid-col_xs-24">
                <div class="advantages__icon">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-1.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-1@2x.png 2x" alt="">
                </div>
                <p>Learn key trading concepts, including fundamental, technical and sentiment analysis</p>
            </div>
            <div class="grid-col grid-col_8 grid-col_md-12 grid-col_xs-24">
                <div class="advantages__icon">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-2.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-2@2x.png 2x" alt="">
                </div>
                <p>Gain valuable practical trading experience and get a personalized approach to your queries</p>
            </div>
            <div class="grid-col grid-col_8 grid-col_md-12 grid-col_xs-24">
                <div class="advantages__icon">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-3.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-3@2x.png 2x" alt="">
                </div>
                <p>Find out ways to limit your risk and deal with trading psychology</p>
            </div>
            <div class="grid-col grid-col_8 grid-col_md-12 grid-col_xs-24">
                <div class="advantages__icon">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-4.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-4@2x.png 2x" alt="">
                </div>
                <p>Benefit from live Q&A session with industry expert</p>
            </div>
            <div class="grid-col grid-col_8 grid-col_md-12 grid-col_xs-24">
                <div class="advantages__icon">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-5.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-5@2x.png 2x" alt="">
                </div>
                <p>Receive a certificate of a 2-Day Intensive Trading Course completion</p>
            </div>
            <div class="grid-col grid-col_8 grid-col_md-12 grid-col_xs-24">
                <div class="advantages__icon">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-6.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/advantages/icon-6@2x.png 2x" alt="">
                </div>
                <p>Benefit from the exclusive offer available to attendees only. 40% deposit bonus of up&nbsp;to&nbsp;$2500*.</p>
            </div>
        </div>
    </div>
</section>
</div>


<section class="gallery">
    <div class="h5">Seminars and workshops</div>
    <h2>Our past events</h2>
    <div id="gallery">
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-1.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-1.jpg" alt="">
            </a>
        </div>
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-2.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-2.jpg" alt="">
            </a>
        </div>
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-3.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-3.jpg" alt="">
            </a>
        </div>
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-4.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-4.jpg" alt="">
            </a>
        </div>
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-5.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-5.jpg" alt="">
            </a>
        </div>
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-6.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-6.jpg" alt="">
            </a>
        </div>
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-7.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-7.jpg" alt="">
            </a>
        </div>
        <div class="gallery__slide">
            <a href="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-8.jpg" class="gallery__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/gallery/photo-8.jpg" alt="">
            </a>
        </div>
    </div>
</section>


<div class="grid-cont">
    <section id="registration" class="registration">
        <div class="h5">Are you ready?</div>
        <h2>Registration</h2>
        <div class="tabs">
            <a href="#registration-tab-1" id="tab-1-reg" class="tabs__item tabs__item_active">Seminar Only</a>
            <a href="#registration-tab-2" id="tab-2-reg" class="tabs__item">2-Day Intensive Course</a>
        </div>

        <div class="registration__cont">
            <div id="registration-tab-1" class="tabs-target tabs-target_active">
                <h3 class="h2">Join Seminar Only</h3>
                <div class="registration__limit">Only few seats left. <em>Book your spot now!</em></div>
                <div class="registration__hidden">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/registration/seminar.svg" width="188" height="180" alt="" class="registration__image">
                    <hr class="registration__hr">
                    <button type="button" class="registration__button button">Register Now</button>
                </div>
            </div>
            <div id="registration-tab-2" class="tabs-target">
                <h3 class="h2">Join 2-Day Intensive Course</h3>
                <div class="registration__steps">
                    <div class="grid-row grid-row_jcsb">
                        <div class="grid-col grid-col_auto">
                            <span class="current">Basic info</span>
                        </div>
                        <div class="grid-col grid-col_auto">
                            <span>Additional info</span>
                        </div>
                        <div class="grid-col grid-col_auto">
                            <span>Password set</span>
                        </div>
                    </div>
                </div>
                <div class="registration__hidden">
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/registration/workshop.svg" width="263" height="180" alt="" class="registration__image">
                    <hr class="registration__hr">
                    <button type="button" class="registration__button button">Register Now</button>
                </div>
            </div>
            <form id="shortForm" data-parsley-validate id="registration__form" class="registration__form">
                <div class="registration__input input">
                    <input type="text" name="first_name" required="required" maxlength="40" data-parsley-pattern="[A-Za-z\-\' ]+" data-parsley-error-message="This value is invalid. Please enter correct details" data-parsley-required-message="Value is required" id="first_name" class="input__field">
                    <label for="first_name" class="input__label">First name</label>
                </div>
                <div class="registration__input input">
                    <input type="text" name="surname" required="required" maxlength="40" data-parsley-pattern="[A-Za-z\-\' ]+" data-parsley-error-message="This value is invalid. Please enter correct details"  data-parsley-required-message="Value is required" id="surname" class="input__field">
                    <label for="surname" class="input__label">Last name</label>
                </div>
                <div class="registration__input input">
                    <input type="email" name="email" required="required" maxlength="80" data-parsley-email data-parsley-pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}$"  data-parsley-required-message="Value is required" id="email" class="input__field">
                    <label for="email" class="input__label">Email</label>
                </div>
                <div class="grid-row grid-row_ngt">
                    <div class="grid-col grid-col_6 grid-col_xs-8 ">
                        <div class="registration__input input input_filled ">
                            <input  type="text" name="phone_prefix" autocomplete="off" required="required" maxlength="5" data-parsley-prefix data-parsley-required-message="Value is required" id="phone_prefix" class="input__field">
                            <label for="phone_prefix" class="input__label">Prefix</label>
                            <div id="phone_prefix__dropdown" class="input__dropdown">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col grid-col_18 grid-col_xs-16">
                        <div class="registration__input registration__input_phone input">
                            <input type="tel" name="phone" required="required" maxlength="20" data-parsley-minlength="6" data-parsley-pattern="([0-9])+" data-parsley-error-message="This value is invalid. Please enter correct details" data-parsley-required-message="Value is required" id="phone" class="input__field">
                            <label for="phone" class="input__label">Phone</label>
                        </div>
                    </div>
                </div>
                <hr class="registration__hr">
                <label class="registration__checkbox checkbox"><input type="checkbox" id="agree_pp" required="required"><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg></i>I have read and accept the <a href="https://www.hycm.com/sites/www.hycm.com/files/pdfs/HYCM_CIMA_Privacy_Policy.pdf" target="_blank">Privacy&nbsp;Policy</a>&nbsp;of&nbsp;HYCM</label>
                <button id="btn_sbmt" type="submit" class="registration__submit button button_lrg"></button>
                <div class="registration__login">Already have an account with HYCM? Log&nbsp;in&nbsp;<a href="/en/login"  onclick="setLoginRedirect()">here</a>.</div>
                <input type="hidden" id="formTab" name="seminar" value="short" data-parsley-trigger="focusout" required="required">
                <input type="hidden" name="country" id="country">
            </form>
        </div>
    </section>


    <section id="faq" class="faq">
        <div class="h5">Any questions?</div>
        <h2>Frequently asked questions</h2>

        <div class="faq__item faq__item_opened">
            <i class="faq__icon"></i>
            <h4 class="faq__question">How can I join the 2-Day intensive course?</h4>
            <p class="faq__answer">You will need to have an activated account with HYCM, meaning you should have at least $100 deposited in your account. As all attendees are eligible for an exclusive offer of 40% deposit bonus*, you will benefit from extra funds in your account available to trade with immediately.</p>
        </div>
        <hr class="faq__hr">
        <div class="faq__item">
            <i class="faq__icon"></i>
            <h4 class="faq__question">Can I only attend the Day 1 seminar?</h4>
            <p class="faq__answer">Yes, you can skip the workshop and only attend the first day. From basic terminology, analysis, and key technical concepts, to professional methods of managing risk and trading psychology, you will learn the ins and outs of trading. Simply book your spot and come along on the 10th of December!</p>
        </div>
        <hr class="faq__hr">
        <div class="faq__item">
            <i class="faq__icon"></i>
            <h4 class="faq__question">What if I attend the Day 1 seminar and decide that I also want to join the Day 2 workshop?</h4>
            <p class="faq__answer">If you attend the seminar and realize that you would like to practice applying your newly acquired knowledge, then we can help you activate your account on the spot. However, please bear in mind that places are limited, and attendees will be served on a first come, first served basis.</p>
        </div>
        <hr class="faq__hr">
        <div class="faq__item">
            <i class="faq__icon"></i>
            <h4 class="faq__question">What should I bring with me?</h4>
            <p class="faq__answer">During the seminar, you will be supplied with pens and notepads so you can take notes. On the workshop day, you will have to bring your laptop and have your demo account ready as we will be completing practical exercises. You will also receive a useful handout which you can take home with you and use on a daily basis.</p>
        </div>
    </section>


    <div id="location" class="location">

    </div>
</div>
</main>


<div class="page__footer">
    <div class="grid-cont">
        <div class="grid-row grid-row_jcsb">
            <div class="grid-col grid-col_auto grid-col_xs-24">
             <!--   <a href="#" class="live-chat"><i><svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"><g fill="#ee464c" fill-rule="nonzero"><path d="M20.286 4.802h-.597v6.664c0 1.038-.596 1.976-1.79 1.976H6.205v.316c0 .918 1.028 1.844 2.084 1.844h8.941l3.42 2.04-.495-2.04h.131c1.055 0 1.532-.924 1.532-1.844V6.384c0-.917-.477-1.582-1.532-1.582z"/><path d="M16.154.173H2.57C1.375.173 0 1.25 0 2.288v8.352c0 .956 1.165 1.647 2.283 1.753l-.727 2.802 4.66-2.782h9.938c1.195 0 2.298-.735 2.298-1.773V2.288c0-1.038-1.104-2.115-2.298-2.115zM4.643 7.223a1.236 1.236 0 0 1-1.227-1.245c0-.687.549-1.245 1.227-1.245.677 0 1.227.558 1.227 1.245 0 .688-.55 1.245-1.227 1.245zm4.583 0a1.236 1.236 0 0 1-1.227-1.245c0-.687.55-1.245 1.227-1.245.678 0 1.227.558 1.227 1.245 0 .688-.55 1.245-1.227 1.245zm4.584 0a1.237 1.237 0 0 1-1.228-1.245c0-.687.55-1.245 1.228-1.245.676 0 1.227.558 1.227 1.245 0 .688-.551 1.245-1.227 1.245z"/></g></svg></i>Live Chat</a> -->
            </div>
            <div class="grid-col grid-col_auto grid-col_xs-24">
                <nav class="share-nav">
                    <a href="https://www.facebook.com/hycmsince1977" class="share-nav__item share-nav__item_fb"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z"></path></svg></a>
                    <a href="https://twitter.com/hycm" class="share-nav__item share-nav__item_tw"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg></a>
                    <a href="https://plus.google.com/u/0/+HYCMHenyepMarkets" class="share-nav__item share-nav__item_gg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg></a>
                    <a href="https://www.linkedin.com/company/hycm/" class="share-nav__item share-nav__item_li"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg></a>
                    <a href="https://www.linkedin.com/company/hycm/" class="share-nav__item share-nav__item_in"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg></a>
                    <a href="https://www.youtube.com/channel/UC2lwvQLAJ3iN4LE_39X1u_Q" class="share-nav__item share-nav__item_yt"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg></a>
                </nav>
            </div>
        </div>


        <nav class="legal-nav">
            <a href="https://www.hycm.com/sites/www.hycm.com/files/pdfs/HYCM_CI_Trading_Credits_Terms_and_Conditions.pdf" class="legal-nav__item legal-nav__item_terms">*Terms and conditions apply</a>
            <i class="legal-nav__br"></i>
            <a href="https://hycm.zendesk.com/hc/en-us/categories/115000275689-Forms-Documents" class="legal-nav__item">Legal Forms & Documents</a>
            <i class="legal-nav__br"></i>
            <a href="https://hycm.zendesk.com/hc/en-us/articles/115005688565-Risk-Warning-Disclosure" class="legal-nav__item">Risk Warnings</a>
            <a href="https://hycm.zendesk.com/hc/en-us/articles/115005676349-Cookies-Policy" class="legal-nav__item">Cookies Policy</a>
            <i class="legal-nav__br"></i>
            <a href="https://hycm.zendesk.com/hc/en-us/articles/115005689369-Risk-Warning-on-Cryptocurrency-CFDs" class="legal-nav__item">Risk Warning on Cryptocurrency CFDs</a>
        </nav>


        <div class="warnings">
            <p><em>High Risk Investment Warning:</em> Contracts for Difference are complex products that are traded on margin. Trading Contracts for Difference carries a high degree of risk. It is possible to lose all your capital. These products may not be suitable for everyone and you should ensure that you understand the risks involved. Seek independent expert advice if necessary and speculate only with funds that you can afford to lose. Please think carefully whether such trading suits you, taking into consideration all the relevant circumstances as well as your personal resources. We do not recommend clients posting their entire account balance to meet margin requirements. Clients can minimise their level of exposure by requesting a change in leverage limit. For more information please refer to HYCM’s Risk Disclosure.</p>
            <p><em>Disclaimer:</em> The content of this page is for information purposes only and it is not intended as a recommendation or advice. Any indication of past performance or simulated past performance included in advertisements published by HYCM is not a reliable indicator of future results. The customer carries the sole responsibility for all the businesses or investments that are carried out at HYCM. Any opinions made may be personal to the author and may not reflect the opinions of HYCM. All expressions of opinion are subject to change without notice. This material is considered a marketing communication and does not contain, and should not be construed as containing, investment advice or an investment recommendation or, an offer of or solicitation for any transactions in financial instruments. HYCM makes no representation and assumes no liability as to the accuracy or completeness of the information provided, nor any loss arising from any investment based on a recommendation, forecast or other information supplied by an employee of HYCM, a third party or otherwise.</p>
            <p><em>Regional Restrictions:</em> We do not offer our services to residents of certain jurisdictions such as Afghanistan, Belgium, Hong Kong, Japan, the United States of America and some other regions. For more information please refer to our <a href="#">Help Center</a>.</p>
        </div>


        <div class="regulations">
            <div class="regulations__title"><i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#081b32" fill-rule="nonzero" d="M12.794 5.988l-.36-.448-.44.416c-.096-.68-.545-1.24-1.153-1.435l.44-.417-.36-.448 1.116-1.054L9.947 0l-5.21 4.924 2.09 2.6L7.941 6.47l.36.45.441-.417c.025.172.073.34.142.497L6.463 9.287l-.19-.241L0 14.866.894 16l6.273-5.82-.204-.26L9.37 7.646c.159.13.338.23.528.29l-.44.417.36.449L8.7 9.856l2.09 2.602L16 7.534l-2.09-2.601-1.116 1.055z"/></svg></i><span>Fully Regulated</span></div>
            <div class="regulations__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/regulations/icon-1.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/regulations/icon-1@2x.png 2x" width="36" height="26" alt="">
                <p><strong>Henyep Capital Markets (UK) Limited</strong> is authorized and regulated under the <strong>Financial Conduct Authority</strong> with reference number <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000000MfHH0AAN" target="_blank">186171</a></p>
            </div>
            <div class="regulations__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/regulations/icon-2.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/regulations/icon-2@2x.png 2x" width="36" height="26" alt="">
                <p><strong>HYCM (Europe) Ltd</strong> is authorized and regulated under the <strong>Cyprus Securities and Exchange Commission</strong> under license number <a href="https://www.cysec.gov.cy/en-GB/entities/investment-firms/cypriot/42663/" target="_blank">259/14</a></p>
            </div>
            <div class="regulations__item">
                <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/regulations/icon-3.png" srcset="/themes/custom/hycm_landing/assets/new_dubai_landing/img/regulations/icon-3@2x.png 2x" width="36" height="26" alt="">
                <p><strong>HYCM Ltd</strong> is authorized and regulated under the <strong>Cayman Islands Monetary Authority</strong> under reference number <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000000MfHH0AAN" target="_blank">1442313</a></p>
            </div>
            <div class="regulations__item"><p><strong>Legal Information:</strong> HYCM is the trading name of Henyep Capital Markets (UK) Limited, HYCM (Europe) Ltd and HYCM Limited for which the Henyep Capital Markets group is holding company and its assets are a controlling equity interest in them.</p></div>
        </div>
    </div>


    <div class="copyrights">
        <div class="grid-cont">
            <div class="grid-row grid-row_jcsb">
                <div class="grid-col grid-col_auto grid-col_xs-24">
                    <p>Copyright © 2019 HYCM.</p>
                </div>
                <div class="grid-col grid-col_auto grid-col_xs-24">
                    <p>All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="popup" class="popup">
    <div class="popup__bg"></div>
    <div class="popup__cont">
        <div>
            <div class="grid-cont">
                <div class="popup__window">
                    <div class="popup__title h2">Thank you for your registration</div>
                    <p>A confirmation has been sent to your email. See&nbsp;you&nbsp;soon!</p>
                    <img src="/themes/custom/hycm_landing/assets/new_dubai_landing/img/popup/mail.svg" width="83" height="80" alt="">
                    <button type="button" class="popup__close"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path fill="#EE464C" fill-rule="nonzero" d="M2.001 0A1.994 1.994 0 0 0 .613 3.426l5.568 5.57-5.568 5.571a1.995 1.995 0 1 0 2.819 2.82L9 11.817l5.568 5.57a1.993 1.993 0 1 0 2.819-2.82l-5.568-5.57 5.568-5.57A1.995 1.995 0 0 0 15.939 0a1.993 1.993 0 0 0-1.371.604L9 6.175 3.432.605A1.993 1.993 0 0 0 2.002 0z" /></svg></button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn6obLw4yw91IUDRCNoqWHYI-IjJxGzeo"></script>
