{#
/**
 * @file hylp.html.twig
 * Default theme implementation to present Landing page data.
 *
 * This template is used when viewing Landing page pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_hylp()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('hylp') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
