<h2>{{ 'Important Upcoming Events - Today' |t }}</h2>
<div class="block-subtitle">{{ "now" | date("l, F j") }}</div>
<div class="hidden-sm hidden-xs" id="Div1" style="margin:auto;">
  <div id="fxst_grid"></div>
</div>
<div class="hidden-sm hidden-xs" id="Div2" style="margin:auto;">
  <div id="fxst_grid2"></div>
</div>
<div class="hidden-sm hidden-xs" style="margin:auto;">
  <div id="fxst_calendar" style="width: 824px"></div>
</div>