.layout--wedwebinar {
  margin: 0;
}

.layout--wedwebinar > .layout__region {
  margin: 0;
}


.layout--wedwebinar .layout__region--brand_header {
  background-color: #ed454b;


}

.brand-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.brand-logo img {
  width: 110px;
}

.hero-section {
  background: url(/themes/custom/hycm_landing/assets/landing_pages/images/wed-webinar/hero-bg.png) no-repeat;
  background-size: cover;
  padding: 7.968vw 0 6.95vw;
}
.layout--wedwebinar .layout__region--main {

}
.layout--wedwebinar .layout__region--header {

}
.layout--wedwebinar .layout__region--first {
  padding-top: 82px;
  padding-bottom: 89px;
  position: relative;
}

.z-index-up {
  z-index: 1;
}

.layout--wedwebinar .layout__region--first:after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eae8e8;
}

.layout--wedwebinar .layout__region--second {
  padding-top: 82px;
  padding-bottom: 89px;
  position: relative;
}

.layout--wedwebinar .layout__region--second:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/themes/custom/hycm_landing/assets/landing_pages/images/wed-webinar/svg/about-bg-red.svg) no-repeat;
  background-size: cover;
}