
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");
@import url("//fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,700&amp;amp;subset=cyrillic,greek");

/* TYPOGRAPHY */
@font-face {
  font-family: 'BebasNeue';
  src: url("/themes/custom/hycm/assets/fonts/BebasNeueRegular.otf");
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("/themes/custom/hycm/assets/fonts/BebasNeueRegular.otf?#iefix") format("embedded-opentype"), url("/themes/custom/hycm/assets/fonts/BebasNeueRegular.woff2") format("woff2"), url("/themes/custom/hycm/assets/fonts/BebasNeueRegular.woff") format("woff"), url("/themes/custom/hycm/assets/fonts/BebasNeueRegular.otf") format("truetype"), url("/themes/custom/hycm/assets/fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url("/themes/custom/hycm/assets/fonts/BebasNeueBook.otf");
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url("/themes/custom/hycm/assets/fonts/BebasNeueBook.otf?#iefix") format("embedded-opentype"), url("/themes/custom/hycm/assets/fonts/BebasNeueBook.woff2") format("woff2"), url("/themes/custom/hycm/assets/fonts/BebasNeueBook.woff") format("woff"), url("/themes/custom/hycm/assets/fonts/BebasNeueBook.otf") format("truetype"), url("/themes/custom/hycm/assets/fonts/BebasNeueBook.svg#BebasNeueBook") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url("/themes/custom/hycm/assets/fonts/BebasNeue-Thin.eot");
  src: local("Bebas Neue Thin"), local("BebasNeue-Thin"), url("/themes/custom/hycm/assets/fonts/BebasNeue-Thin.eot?#iefix") format("embedded-opentype"), url("/themes/custom/hycm/assets/fonts/BebasNeue-Thin.woff2") format("woff2"), url("/themes/custom/hycm/assets/fonts/BebasNeue-Thin.woff") format("woff"), url("/themes/custom/hycm/assets/fonts/BebasNeue-Thin.ttf") format("truetype"), url("/themes/custom/hycm/assets/fonts/BebasNeue-Thin.svg#BebasNeue-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url("/themes/custom/hycm/assets/fonts/BebasNeueBold.eot");
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("/themes/custom/hycm/assets/fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("/themes/custom/hycm/assets/fonts/BebasNeueBold.woff2") format("woff2"), url("/themes/custom/hycm/assets/fonts/BebasNeueBold.woff") format("woff"), url("/themes/custom/hycm/assets/fonts/BebasNeueBold.ttf") format("truetype"), url("/themes/custom/hycm/assets/fonts/BebasNeueBold.svg#BebasNeueBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url("/themes/custom/hycm/assets/fonts/BebasNeueLight.eot");
  src: local("Bebas Neue Light"), local("BebasNeueLight"), url("/themes/custom/hycm/assets/fonts/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("/themes/custom/hycm/assets/fonts/BebasNeueLight.woff2") format("woff2"), url("/themes/custom/hycm/assets/fonts/BebasNeueLight.woff") format("woff"), url("/themes/custom/hycm/assets/fonts/BebasNeueLight.ttf") format("truetype"), url("/themes/custom/hycm/assets/fonts/BebasNeueLight.svg#BebasNeueLight") format("svg");
  font-weight: 300;
  font-style: normal; }


/* VARIABLES */
html,
body {
  color: black;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif; }
html b, html strong,
body b,
body strong {
  font-weight: 700; }

h2 {
  font-size: 46px;
  font-weight: 300;
  text-transform: capitalize; }
.linux h2 {
  font-weight: 400; }
@media screen and (max-width: 767px) {
  h2 {
    font-size: 30px;
    text-align: center; } }
h2 b,
h2 strong {
  font-weight: 700; }

a {
  transition: all 0.3s;
  text-decoration: underline;
  color: #4cb57d;
  font-weight: 500; }
a:not(.btn):hover, a:not(.btn):focus {
  color: #5d5d5d; }

/*# sourceMappingURL=maps/style.css.map */


/*
.layout--eurusd {
  outline: solid 1px orange;
  display: flex;
  padding: 10px;
}

.layout--eurusd > .layout__region {
  outline: solid 1px orange;
  margin: 10px;
  padding: 20px;
}

.layout--eurusd .layout__region--main {
  width: 66%;
}

.layout--eurusd .layout__region--sidebar {
  width: 33%;
}

@media all and (max-width: 850px) {
  .layout--eurusd {
    flex-direction: column;
  }
  .layout--eurusd > .layout__region {
    width: auto;
  }
}
*/

body, html {
  font-family: Ubuntu !important;
}
.brand-logo {
  display: block;
  margin-bottom: 40px;
}
.brand-logo img {
  width: 97px;
}
.layout.layout--eurusd.eur_usd_without_form .block-hycm-blocks-openaccount .open-an-account.btn{
  display: table;
  margin: auto!important;
  padding: 15px 40px!important;
  width: auto!important;
}

.btn.red {
  background-color: #ee464c;
  color: #fff;
}

.btn.red:not(:disabled):hover, .btn.red:focus {
  background: #ff0033;
  border-color: #ff0033;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 121, 192, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}
body h2 {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  margin-bottom: 50px;
}
.layout__region--highlighted {
  background: url("images/eurusd_bg.jpg") no-repeat 0 0/cover;
  text-align: center;
  width: 100%;
  color: #fff;
  margin-bottom: 80px;
  position: relative;
}
.layout__region--highlighted:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background-color: #f37c80;*/
  opacity: 0.35;
}
.block-region-highlighted {
  width: 100%;
  padding: 57px 0 40px;
  position: relative;
  z-index: 2;
}
.layout__region--highlighted h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.layout__region--highlighted .subheader {
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 55px;
}
/*Graphs*/
#hycm_graphs {
  justify-content: space-between;
  padding-top: 0 !important;
  margin-bottom: 45px;
}
#hycm_graphs .graphs-item {
  text-align: center;
  padding: 20px 16px;
  position: relative;
  flex: 0 0 25%;
  margin: 0 0 16px;
  max-width: calc(25% - 12px);
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(52,52,52,0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(52,52,52,0.18);
  box-shadow: 0px 0px 15px 0px rgba(52,52,52,0.18);
}
.symbol_title {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: 300;
}
.graphs:after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px dashed black;
  width: 100%;
  opacity: 0.1;
  top: 50%;
}
.graphs {
  position: relative;
  height: 85px;
}
.graphs svg {
  width: 80%;
  height: 80%;
  margin: 0 2.5%;
}
.bid_ask {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.bid_ask .bid {
  font-size: 19px;
}
.bid_ask .bid:before {
  content: 'BID';
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
}
.bid_ask .ask:before {
  display: block;
  content: 'ASK';
  font-size: 10px;
  font-weight: 500;
  text-align: right;
}
.variation:after {
  content: '%';
  font-weight: 500;
}
/**/
.layout__region--why_hycm {
  background-color: #f9f9fa;
  padding: 130px 0;
  margin-bottom: 90px;
}
.block-region-why-hycm {
  width: 100%;
}
body p {
  margin-bottom: 0;
}
.layout__region--why_hycm .why-hycm-block {
  color: #000000;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto 60px;
  max-width: 920px;
}
.layout__region--why_hycm .why-hycm-block h2 {
  position: relative;
}
.layout__region--why_hycm .why-hycm-block h2:before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 1px;
  background: #000;
}
.layout__region--why_hycm .why-hycm-block span {
  background: #f9f9fa;
  padding: 0 28px;
  position: relative;
  z-index: 1;
}
.why-hycm-block-ul {
  padding: 0;
  display: flex;
  max-width: 920px;
  margin: 0 auto;
  justify-content: space-between;
  list-style: none;
}
.why-hycm-block-ul li {
  flex: 0 0 167px;
}
.why-hycm-block-ul li img {
  width: 73px;
  height: 73px;
  display: block;
  margin: 0 auto 20px;
}
.why-hycm-block-ul li .why-hycm-spreads-from {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}
.why-hycm-block-ul li .why-hycm-subtext {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 29px;
}
.layout__region--trade_own_way {
  background-color: #f9f9fa;
  padding:  85px 0;
}
.block-region-trade-own-way {
  width: 100%;
}
.block-region-trade-own-way .block-block-content > div {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.block-region-trade-own-way .block-title {
  color: #000000;
  width: 100%;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 48px;
}
.block-region-trade-own-way .block-subtitle {
  color: #000000;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.block-region-trade-own-way  .white-box-item {
  width: 33.333333%;
  display: inline-block;
  border: 1px solid #d8d8d8;
  padding: 0 0 7px;
  max-width: 225px;
  text-align: center;
  margin: 0 12px;
  background-color: #ffffff;
}
.white-box-item-top {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0 12px;
  margin-bottom: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #dddddd;
}
.white-box-item-middle {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.white-box-item-middle:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 10px;
  background: url("images/arrow.svg") no-repeat 0 0/7px 10px;
  margin-left: 6px;
  position: relative;
  top: 1px;
}
.white-box-item-bottom .colored-number {
  color: #53bb87;
  font-size: 36px;
  font-weight: 500;
  margin-right: 7px;
}
.white-box-item-bottom .pips {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
}
.layout__region--trade_eurusd_today {
  background-color: #595b5f;
}
.block-region-trade-eurusd-today {
  width: 100%;
}
.block-region-trade-eurusd-today .block-block-content > div {
  display: flex;
  padding: 12px 0;
  max-width: 722px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.block-region-trade-eurusd-today .block-block-content > div:after {
  display: none;
}
.layout__region--trade_eurusd_today .trade-eurusd-today {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.green-button, .open-live-account-green-button, .open-live-account-red-button {
  height: 45px;
  cursor: pointer;
  background-color: #53bb87;
  color: #ffffff;
  font-size: 16px;
  width: 170px;
  text-decoration: none;
  max-width: 170px;
  line-height: 45px;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  display: block;
  position: relative;
  transition: all 0.25s;
  font-weight: 500
}
.green-button:after, .open-live-account-green-button:after, .open-live-account-red-button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 20;
}
.green-button:hover, .open-live-account-green-button:hover, .open-live-account-red-button:hover {
  background: #429e70;
  text-decoration: none;
  color: #fff !important;
}
.green-button:hover:after, .open-live-account-green-button:hover:after, .open-live-account-red-button:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.open-live-account-green-button, .open-live-account-red-button {
  max-width: 380px;
  width: 380px;
  height: 57px;
  line-height: 57px;
  margin: 0 auto 7px;
}
.open-live-account-red-button, .layout__region #shortForm .btn[type='submit'] {
  background : rgba(238, 70, 76, 1);
  width: 260px;
  color: #fff;
  border-radius : 3px;
}
.open-live-account-red-button:hover, .layout__region #shortForm .btn[type='submit']:hover {
  background : rgb(238, 63, 20);
}
.layout__region #shortForm .btn[type='submit'] {
  width: 100%;
}
.risk-warning-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.block-region-featured-top, .block-region-main {
  width: 100%;
}
.block-region-featured-top {
  margin-bottom: 60px;
}
.block-region-main h2 {
  margin-bottom: 10px;
}
.block-region-main h4 {
  text-align: center;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
}
.block-region-main a {
  color: #53bb87;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  display: table;
  margin: 0 auto;
}
.graphs-forex-four,
.markets-small-graphs {
  justify-content: space-between;
  padding-top: 0 !important;
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}
.graphs-forex-four .container-graphs-forex,
.markets-small-graphs .container-graphs-forex {
  text-align: center;
  padding: 20px 16px 0;
  position: relative;
  flex: 0 0 25%;
  margin: 0 0 16px;
  max-width: calc(25% - 12px);
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(52,52,52,0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(52,52,52,0.18);
  box-shadow: 0px 0px 15px 0px rgba(52,52,52,0.18);
}
.graphs-forex-four .graphs-variation-bg,
.markets-small-graphs .graphs-variation-bg {
  margin: 0 -16px;
}
.block-region-main .graphs-forex-four .bid-variation,
.block-region-main .markets-small-graphs .bid-variation {
  justify-content: center;
}
.variation-up .bid-variation .graphs-variation {
  color: #53bb87;
  font-weight: 500;
  margin-left: 10px;
}
.variation-up .bid-variation .graphs-variation:before {
  content: '+';
  display: inline-block;
}
.variation-down .bid-variation .graphs-variation {
  color: #ee464c;
  font-weight: 500;
  margin-left: 10px;
}
.container-graphs-forex .graphs {
  margin: 40px 0;
}
.container-graphs-forex .graphs-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}
.layout__region--main {
  padding: 110px 0 140px;
}
.form_type3 {
  width: 475px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(52,52,52,0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(52,52,52,0.18);
  box-shadow: 0px 0px 15px 0px rgba(52,52,52,0.18);
  padding: 40px 45px;
}
.form_type3 h3 {
  font-size: 28px;
  font-weight: 300;
}
.form_type3 h3 strong {
  font-weight: 500;
}
#shortForm .btn_wrap .btn {
  background-color: #53bb87;
}
#shortForm .btn.select_btn.prefix {
  background-color: transparent;
}
#shortForm .btn_wrap {
  margin-top: 40px;
}
#shortForm .risk {
  color: #070606;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
}
#shortForm .btn_wrap span {
  display: none;
}
#shortForm .transparent_select {
  left: 0;
}
.form-wrapper h2 {
  margin-bottom: 10px;
}
.markets-tool-graph h3,
.container-highcharts-graphs h3 {
  font-size: 20px;
  text-align: center;
}
.markets-tool-graph,
.container-highcharts-graphs {
  margin-bottom: 50px;
}
.graphs-title {
  color: #050505;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.block-region-featured-top h2 {
  display: none;
}
.block-region-featured-top .bid-variation {
  display: flex;
  align-items: center;
}
.block-region-featured-top .bid-variation .graphs-bid {
  color: #030303;
  font-size: 32px;
  font-weight: 500;
}
.block-region-featured-top .bid-variation .graphs-variation {
  color: #53bc88;
  font-size: 26px;
  font-weight: 500;
  margin-left: 15px;
}
.markets-tool-graph .graphs-legend,
.container-highcharts-graphs .graphs-legend {
  justify-content: center;
}
.markets-tool-graph.variation-up .graphs-legend .graphs-variation:before,
.container-highcharts-graphs.variation-up .graphs-legend .graphs-variation:before {
  content: '+';
  margin-right: 4px;
  font-size: 20px;
  position: relative;
  top: -3px;

}
/**/
.block-region-upcoming-events {
  width: 100%;
  padding-bottom: 120px;
}
.block-region-upcoming-events h2 {
  margin-bottom: 20px;
  line-height: normal;
  padding: 0 15px;
}
.block-region-upcoming-events .block-subtitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 45px;
}
#fxst_grid {
  width: 100% !important;
}
#fxst_grid .fxst-calendarpro {
  border: none;
}

#fxst_grid .fxst-calendarhead {
  background-color: #f37e81;
}

#fxst_grid .fxst-calendarhead th {
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  padding: 0;
  width: auto;
  border: none;
  text-align: center;
  border-left: 1px solid #eaeaea;
}

#fxst_grid .fxst-calendarhead th#fxst-thevent {
  width: 50%;
  border-left: none;
  text-indent: -80px;
}

#fxst_grid .fxst-calendarhead th#fxst-threvised {
  width: 15px;
  border-left: none;
}

#fxst_grid .fxst-calendarhead th#fxst-tharrow {
  width: 30px;
  border-left: none;
}

#fxst_grid .fxst-calendarhead th#fxst-thcountry {
  width: 50px;
  border-left: none;
}

#fxst_grid .fxst-calendarhead th#fxst-thvolatility {
  width: 60px;
}

#fxst_grid td {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  vertical-align: middle;
  height: 53px;
  border-bottom: none;
  border-left: 1px solid #eaeaea;
}
#fxst_grid .fxst-td-event, #fxst_grid #fxst-thevent {
  text-align: left;
}
#fxst_grid .fxst-calendarhead th#fxst-thtime {
  border-right: 1px solid #eaeaea !important;
  width: 125px;
  font-size: 12px;
}
.linux #fxst_grid td {
  font-weight: 400;
}
#fxst_grid td.fxst-td-event, #fxst_grid td.fxst-td-currency,#fxst_grid .fxst-calendarhead th.fxst-threvised {
  border-left: none;
}
#fxst_grid td.fxst-txt-left {
  text-align: left;
  border-left: none;
}

#fxst_grid td.fxit-arrow,
#fxst_grid td.fxit-revised {
  border-left: none;
}

#fxst_grid td.fxit-arrow .fxst-eventdetail {
  background: url("images/table-arrow.svg") no-repeat 0 0/6px 9px;
  width: 6px;
  opacity: 1;
  display: inline-block;
  height: 9px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#fxst_grid td.fxit-arrow .fxst-eventdetail.fxst-openFull {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#fxst_grid td a {
  color: #000 !important;
  font-weight: 300;
  text-decoration: none;
}

.linux #fxst_grid td a {
  font-weight: 400;
}

#fxst_grid .fxst-calendarpro {
  border: none;
}

#fxst_grid .fxst-calendarhead {
  background: #f37e81;
}

#fxst_grid .fxst-calendarhead th {
  height: 39px;
  font-weight: 400;
  font-size: 14px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  padding: 0;
  width: auto;
  border: none;
  text-align: center;
  border-left: 1px solid #eaeaea;
}

#fxst_grid .fxst-calendarhead th#fxst-thevent {
  width: 50%;
  border-left: none;
  text-indent: -40px;
}

#fxst_grid .fxst-calendarhead th#fxst-threvised {
  width: 15px;
  border-left: none;
}

#fxst_grid .fxst-calendarhead th#fxst-tharrow {
  width: 30px;
  border-left: none;
}

#fxst_grid .fxst-calendarhead th#fxst-thhastxitxa {
  width: 50px;
}

#fxst_grid .fxst-calendarhead th#fxst-thvolatility {
  width: 60px;
}

#fxst_grid td {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
  height: 44px;
  border-bottom: none;
  border-left: 1px solid #eaeaea;
}
#fxst_grid td:first-child {
  font-size: 12px;
}
.linux #fxst_grid td {
  font-weight: 400;
}

#fxst_grid td.fxst-txt-left {
  text-align: left;
  border-left: none;
}

#fxst_grid td.fxit-arrow,
#fxst_grid td.fxit-revised {
  border-left: none;
}

#fxst_grid td.fxit-arrow .fxst-eventdetail {
  background: url("images/table-arrow.svg") no-repeat 0 0/6px 9px;
  width: 6px;
  opacity: 1;
  height: 9px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#fxst_grid td.fxit-arrow .fxst-eventdetail.fxst-openFull {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#fxst_grid td a {
  color: #000 !important;
  font-weight: 300;
}

.linux #fxst_grid td a {
  font-weight: 400;
}

#fxst_grid td .fxst-i-vol {
  width: 40px;
  height: 11px;
  display: block;
  float: none;
  margin: 0 auto;
}

#fxst_grid td .fxst-i-vol.fxst-i-vol0 {
  background: url(images/no-star.svg) no-repeat 0 0/40px auto;
}

#fxst_grid td .fxst-i-vol.fxst-i-vol1 {
  background: url(images/one-star.svg) no-repeat 0 0/40px auto;
}

#fxst_grid td .fxst-i-vol.fxst-i-vol2 {
  background: url(images/two-stars.svg) no-repeat 0 0/40px auto;
}

#fxst_grid td .fxst-i-vol.fxst-i-vol3 {
  background: url(images/three-stars.svg) no-repeat 0 0/40px auto;
}

#fxst_grid .fxst-tr-event {
  background: #fafafb;
}

#fxst_grid .fxst-oddRow {
  background: #fff;
}

#fxst_grid .fxst-dateRow {
  background: #f5f5f5;
  letter-spacing: 0;
  text-shadow: none;
  text-transform: none;
}
#fxst_grid .fxst-dateRow td {
  font-size: 16px;
}
#fxst_grid .fxst-revised {
  width: 8px;
  height: 8px;
  background: #e5d100;
  border-radius: 50%;
}

#fxst_grid .fxst-title-linkspages {
  text-align: left;
}

#fxst_grid .fxst-eventdescription {
  clear: both;
  text-align: left;
}

#fxst_grid .fxec_historylinks a {
  font-size: 14px;
  color: #115979 !important;
}

#fxst_grid .fxec_historylinks a.fxst-active {
  color: #000 !important;
}

#fxst-calendartable .fxst-eventDetails table {
  border: none;
  border-collapse: collapse;
}

#fxst-calendartable .fxst-eventDetails table td {
  border: 1px solid #b2b2b2;
}

#fxst-calendartable .fxst-eventDetails table td.fxst-last {
  border: 1px solid #b2b2b2 !important;
}

#fxst-calendartable .fxst-eventDetails table td span {
  font-weight: 300;
}

.linux #fxst-calendartable .fxst-eventDetails table td span {
  font-weight: 400;
}

#fxst-calendartable .fxst-eventDetails table td .fxst-cons,
#fxst-calendartable .fxst-eventDetails table td .fxst-prev,
#fxst-calendartable .fxst-eventDetails table td .fxit-actual {
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}

#fxst-calendartable .fxst-eventDetails .fxst-table-links {
  border: none;
}

#fxst-calendartable .fxst-eventDetails .fxst-table-links td {
  border: none;
  text-align: left;
}

#fxst-calendartable .fxst-eventDetails .fxst-table-links td .fxst-icon {
  display: none;
}

#fxst-calendartable .fxst-eventDetails .fxst-table-links td a {
  font-size: 20px;
  line-height: 1.33em;
  color: #53bc88 !important;
  border-bottom: 1px solid;
}

#fxst-calendartable .fxst-eventDetails .fxst-table-links td a:hover {
  border-bottom: none;
}
@media all and (min-width: 992px) {
  .has-form .brand-logo {
    margin-bottom: 50px;
  }
  .has-form .layout__region--featured_top {
    padding-top: 40px;
  }
  .has-form .block-region-highlighted {
    max-width: 50%;
  }
  .has-form .layout__region--highlighted, .has-form .layout__region--highlighted h1 {
    text-align: left;
  }
  .has-form .layout__region--highlighted .subheader {
    margin-bottom: 0;
  }
  .has-form .container-highcharts-graphs,
  .has-form .markets-tool-graph{
    max-width: 50%;
  }
  .has-form #eurusd_forex {
    min-width: 50% !important;
    height: 220px !important;
  }
  .has-form .container-highcharts-graphs h3,
  .has-form .markets-tool-graph h3 {
    text-align: left;
  }
  .has-form .block-shortform-block {
    width: 50%;
    position: absolute;
    max-width: 475px;
    top: -180px;
    z-index: 1;
    right: 0;
  }
  .has-form .form_type3 {
    background: #fff;
  }
  .has-form .layout__region--featured_top {
    z-index: 2;
  }
  .has-form .layout__region--why_hycm {
    z-index: 1 !important;
  }
  .has-form .block-region-featured-top {
    position: relative;
    z-index: 3;
  }
  .has-form .block-region-featured-top h2 {
    text-align: left;
    margin-bottom: 0;
    font-size: 20px;
    display: block;
    margin-top: 30px;
  }
  .has-form .container-highcharts-graphs .graphs-legend ,
  .has-form .markets-tool-graph .graphs-legend {
    justify-content: flex-start;
  }
  .has-form .layout__region--featured_top .graphs-forex-four {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .has-form .layout__region--highlighted {
    margin-bottom: 0;
  }
  .has-form .container-highcharts-graphs,
  .has-form .markets-tool-graph {
    margin-bottom: 0;
  }
}
@media all and (max-width: 1199px) {
  #fxst_grid .fxst-calendarhead th#fxst-thevent {
    width: 45%;
  }
}
@media all and (max-width: 992px) {
  .layout__region--main {
    padding: 60px 0;
  }
  .graphs-forex-four .container-graphs-forex {
    flex: 0 0 50%;
    max-width: calc(50% - 12px);
  }
  .why-hycm-block-ul {
    flex-wrap: wrap;
  }
  .why-hycm-block-ul li {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 30px;
  }
  .layout__region--why_hycm {
    padding: 65px 15px 40px;
  }
  .layout__region--why_hycm .why-hycm-block {
    margin-bottom: 50px;
  }
  .block-region-trade-own-way .white-box-item {
    max-width: 215px;
  }
  #fxst_grid .fxst-calendarhead th#fxst-thevent {
    width: 25%;
  }

  #fxst_grid .fxst-calendarhead th#fxst-tharrow {
    display: none;
  }

  #fxst_grid .fxst-detailRow {
    display: none !important;
  }

  #fxst_grid .fxst-tr-nexteventline td {
    border-top: none;
  }

  #fxst_grid td.fxit-arrow {
    display: none;
  }
  .form_wrap {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100%;
  }
  .form_type3 {
    margin: 0 auto;
  }
  .has-form .block-shortform-block {
    position: relative;
    top: auto;
    right: auto;
    max-width: 100%;
  }
}
@media all and (max-width: 767px) {
  body h2 {
    font-size: 22px;
  }
  .block-region-upcoming-events .block-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .layout__region--highlighted h1 {
    font-size: 32px;
  }
  .layout__region--highlighted .subheader {
    font-size: 22px;
  }
  .block-region-highlighted {
    padding: 40px 15px 40px;
  }
  .block-eurusd-block,.block-graphs-forex-eur-usd, .block-region-main ,.block-markets-graph{
    display: none;
  }
  .layout__region--why_hycm .why-hycm-block, .block-region-trade-own-way .block-title {
    font-size: 22px;
  }
  .block-region-trade-own-way .block-subtitle {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .layout__region--why_hycm {
    padding: 50px 15px 40px;
    margin-bottom: 55px;
  }
  .block-region-upcoming-events {
    padding-bottom: 65px;
  }
  .layout__region--why_hycm .why-hycm-block {
    margin-bottom: 30px;
  }
  .block-region-trade-own-way .white-box-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: none;
    align-items: center;
    border: none;
    margin-bottom: 30px;
    border-bottom: 1px solid #000000;
    max-width: 100%;
    text-align: left;
  }
  .block-region-trade-own-way .white-box-item:last-child {
    margin-bottom: 0;
  }
  .white-box-item-top {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
  }
  .white-box-item-middle {
    font-size: 14px;
    margin-left: 8px;
  }
  .white-box-item-bottom {
    margin-left: auto;
  }
  .white-box-item-bottom .colored-number, .white-box-item-bottom .pips {
    font-size: 20px;
  }
  .layout__region--trade_own_way {
    padding: 50px 0;
  }
  .layout__region--trade_eurusd_today {
    background-color: #f9f9fa;
    padding-bottom: 65px;
  }
  .block-region-trade-eurusd-today .block-block-content > div {
    padding: 0 15px;
  }
  .layout__region--trade_eurusd_today .trade-eurusd-today {
    display: none;
  }
  .block-region-trade-eurusd-today p {
    width: 100%;
  }
  .block-region-featured-top {
    margin-bottom: 0;
  }
  .block-region-featured-top .block-block-content {
    display: none;
  }
  .layout__region--highlighted {
    margin-bottom: 0;
  }
  .layout__region--why_hycm .why-hycm-block h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .layout__region--why_hycm .why-hycm-block span {
    padding: 0 12px;
  }
  .green-button {
    display: block;
    max-width: 100%;
    line-height: 57px;
    width: 100%;
    height: 57px;
    margin: 0 auto;
  }
  #fxst_grid .fxst-calendarhead th#fxst-thtime {
    width: 60px;
  }

  #fxst_grid .fxst-calendarhead th#fxst-thevent {
    width: auto;
    padding-left: 20px;
  }

  #fxst_grid .fxst-calendarhead th#fxst-thactual,
  #fxst_grid .fxst-calendarhead th#fxst-thconsensus,
  #fxst_grid .fxst-calendarhead th#fxst-thprevious {
    display: none;
  }

  #fxst_grid .fxst-calendarhead th#fxst-threvised {
    width: 20px;
  }

  #fxst_grid .fxst-calendarhead th#fxst-thhastxitxa {
    width: 40px;
  }

  #fxst_grid td.fxit-actual,
  #fxst_grid td.fxit-actual + td,
  #fxst_grid td.fxit-previous {
    display: none;
  }
  .layout__region--main {
    display: none;
  }
}
@media all and (max-width: 576px) {
  .block-region-trade-own-way .white-box-item {
    margin: 0 15px;
  }
}
@media all and (max-width: 480px) {
  .why-hycm-block-ul {
    max-width: 250px;
    margin: 0 auto;
  }
  .why-hycm-block-ul li {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    max-width: 100%;
  }
  .why-hycm-block-ul li img {
    margin: 0 25px 0 0;
    width: 57px;
  }
  .why-hycm-block-ul li .why-hycm-subtext, .why-hycm-block-ul li .why-hycm-spreads-from {
    text-align: left;
  }
  .green-button {
    width: 100%;
    max-width: 100%;
  }

  #fxst_grid .fxst-calendarhead th {
    font-size: 14px;
  }

  #fxst_grid .fxst-calendarhead th#fxst-thtime {
    width: 50px;
  }

  #fxst_grid td {
    font-size: 12px;
  }
  .form_type3 {
    box-shadow: none;
    width: auto;
    padding: 40px 15px;
  }
  .form_type3 h3 {
    text-align: center;
  }
  #shortForm .btn.select_btn.prefix {
    border: 1px solid #000;
  }
}

.markets-tool-graph .graphs-legend {
  display: flex;
  align-items: center;
}

.markets-tool-graph .graphs-ask-bid{
  color: #030303;
  font-size: 32px;
  font-weight: 500;
}

.markets-tool-graph .graphs-variation{
  color: #53bc88;
  font-size: 26px;
  margin-left: 15px;
}
.markets-tool-graph.variation-down .graphs-variation{
  color: #ee464c;
}

.highcharts-button.highcharts-button-normal {}

.highcharts-button.highcharts-button-pressed {
  fill: #25258e!important;
}
.highcharts-button.highcharts-button-pressed text{
  fill: #FFFFFF!important;
}

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 1px;
}

.highcharts-markers .highcharts-color-0 {
  fill: transparent;
}