
#markets-home-wrap {
  padding-top: 150px; /* temp rule */
}

.hycm-markets-home {}

.markets-item {}

.market-about-item .item-label img {
  width: 20px;
  height: auto;
}
#markets-home-wrap .item-leverage {
  margin-bottom: 55px;
  display: block;
  font-size: 16px;
  font-weight: 500;
}
#markets-home-wrap .market-about-container .item-label {}
#markets-home-wrap .market-about-container .item-label img{
  width: 70px;
  margin-bottom: 20px;
  height: auto;
}
#markets-home-wrap .markets-tab-switch {
  text-align: center;
  background-color: #eaeaea;
  color: #6d6c6c;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 16px;
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
}