
.ajax-progress {
  display: inline-block;
  padding: 1px 5px 2px 5px;
}

.ajax-progress-throbber .throbber {
  background: transparent url(../../../images/core/throbber-active.gif) no-repeat 0 center;
  display: inline;
  padding: 1px 5px 2px;
}